<h1>アカウントページ Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>MyPage <%= @user.id %></p>
<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>パスワード</h3>
********
<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>