.field_with_errors{
  display: inline;
}

.bg01 {
  background-image: image-url('top_image.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像のリピートを無効に */
  height: 600px; /* 適切な高さを指定 */
  /* その他のスタイルや必要に応じて調整 */
}

.bg_tokyo{
  background-image: image-url('tokyo_image.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像のリピートを無効に */
  height: 300px; /* 適切な高さを指定 */
  /* その他のスタイルや必要に応じて調整 */
}

.bg_osaka{
  background-image: image-url('osaka_image.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像のリピートを無効に */
  height: 300px; /* 適切な高さを指定 */
  /* その他のスタイルや必要に応じて調整 */
}

.bg_kyoto{
  background-image: image-url('kyoto_image.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像のリピートを無効に */
  height: 300px; /* 適切な高さを指定 */
  /* その他のスタイルや必要に応じて調整 */
}

.bg_sapporo{
  background-image: image-url('sapporo_image.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像のリピートを無効に */
  height: 300px; /* 適切な高さを指定 */
  /* その他のスタイルや必要に応じて調整 */
}